name: Publish to PyPI and test PyPI

on: push

jobs:
 publish_to_test_pypi:
    if: github.event_name == 'create' && github.event.ref_type != 'tag' && github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
	python-version: '3.10'
    - name: Install dependencies
      run: |
	python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build package and publish to TestPyPI
      env:
	TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
      run: |
	python setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*

 publish_to_pypi:
    # Only run this job if this workflow was triggered by the creation of a new tag
    if: github.event_name == 'create' && github.event.ref_type == 'tag' && github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build package and publish to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
